
.buttons button{
  margin-right: 20px;
}
.modals button{
  margin-right: 10px;
}
.loadings{
  :global(.ant-alert){
    margin-bottom: 10px;
  }
  span{
    margin-right: 10px;

  }
}
.notice button{
  margin-right: 10px;
}
.messages button{
  margin-right: 10px;
}

